<script setup>

import {useStore} from "@/store/index.js";
import {computed, ref, reactive} from "vue";
import {useVuelidate} from '@vuelidate/core'
import {minLength, required, email, sameAs} from '@vuelidate/validators'
import {ElNotification} from 'element-plus'
import {useRouter} from 'vue-router';
import axios from 'axios'


const router = useRouter()
const store = useStore()
const total = computed(() => store.totalSum)
const requiredFieldError = 'Заполните это поле'
const checked = ref(true)
const form = reactive({
  name: '',
  email: '',
  address: '',
})

const rules = computed(() => {
  return {
    name: {required},
    email: {
      required,
      email
    },
    address: {required},
  }
})
const vuelidate = useVuelidate(rules, form)

async function handleSubmit() {

  const result = await vuelidate.value.$validate()
  if (!result) {
    return
  }

  if (Object.values(store.cartState.inCart).length === 0) {
    ElNotification.success({
      title: 'Внимание:',
      message: 'В корзине нет товаров.',
      offset: 100,
    })
    return
  }
  axios.post('http://httpbin.org/post', {
    data: form,
  })
      .then(function (response) {
        console.log(response);
        ElNotification.success({
          title: 'Спасибо!',
          message: 'Заказ успешно оформлен, мы с Вами свяжемся.',
          offset: 100,
        })
        store.cartState.inCart = {}
        router.push('/')
      })
      .catch(function (error) {
        console.log(error);
      });
}

</script>

<template>
  <div>

    <form @submit.prevent="handleSubmit">
      <div class="field-container">

        <span>Имя: </span>
        <el-input
            v-model="form.name"
            style="width: 240px"
            placeholder="Имя получателя"
            clearable
        />
        <span v-if="vuelidate.name.$error">{{ requiredFieldError }}</span>
      </div>

      <div class="field-container">
        <span>Email: </span>
        <el-input
            v-model="form.email"
            style="width: 240px"
            placeholder="Введите email"
            clearable
        />
        <span v-if="vuelidate.email.$error">{{ vuelidate.email.$errors[0].$message }}</span>
      </div>

      <div class="field-container">
        <span>Адрес доставки: </span>
        <el-input
            v-model="form.address"
            style="width: 240px"
            placeholder="Введите email"
            clearable
        />
        <span v-if="vuelidate.address.$error">{{ requiredFieldError }}</span>
      </div>

      <div class="field-container">
        <el-checkbox v-model="checked" label="Согласие на обработку данных" size="large" border/>
        <el-text v-if="!checked" class="mx-1" type="danger">Необходимо дать согласие на обработку данных</el-text>
      </div>

      <button type="submit">Заказать</button>
    </form>

    <ul>
      <li v-for="item in store.cartState.inCart">
        {{ item.title }}
        количество :
        {{ item.count }}

      </li>
    </ul>

    <pre>Итого: {{ total }}</pre>
  </div>
</template>

<style scoped>
div.field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
</style>