<script setup>
// const props = defineProps(['query']);
import {ref} from "vue";

const emit = defineEmits()
const query = ref('');
function filterItems() {
  emit('filter-items', query.value)
}
</script>

<template>
  <input type="search" placeholder="Поиск товара" @input="filterItems" v-model="query">

</template>

<style scoped>

</style>