<script setup>
import Item from "@/components/Item.vue";
import Filter from "./Filter.vue"
import {computed, ref} from "vue";
import NewItem from "@/components/NewItem.vue";
import { ElButton, ElDrawer } from 'element-plus'
import { CircleCloseFilled } from '@element-plus/icons-vue'
import {useStore} from '../store/index.js'

const store = useStore();

const visible = ref(false)

const query = ref('');
const queryProducts = computed(() => {
  return store.items.value.filter(
      (item) => item.title.toLowerCase().indexOf(query.value.toLowerCase()) !== -1
          || item.price == query.value
  )
})


function addNewItem(data) {
  store.items.value.push(data)
  console.log(data)
}

function filterHandler(result) {
  query.value = result
}
</script>

<template>
  <div class="items row" v-if="!store.isLoading">
    <Filter @filter-items="filterHandler"></Filter>

    <el-button @click="visible = true">
     Создать новый товар
    </el-button>

    <el-drawer v-model="visible" :show-close="false">
      <template #header="{ close }">
        <el-button type="danger" @click="close">
          <el-icon class="el-icon--left"><CircleCloseFilled /></el-icon>
          Закрыть
        </el-button>
      </template>
      <NewItem @save-item="addNewItem"></NewItem>
    </el-drawer>

    <Item v-for="item in store.getFiltered(query)"
          :key="item.id"
          :item="item"

    ></Item>

  </div>
</template>

<style scoped>

</style>