<script setup>
const props = defineProps(['item']);
const imageSrc = props.item.image
import {useStore} from "@/store/index.js";
import {computed, ref} from 'vue'
const store = useStore()

function add2cart()
{
  if(count.value > 0) {
    store.add2cart(props.item.id, count.value)
  }
  count.value = 0
}
const count = ref(0)
const sum = computed(() => props.item.price * count.value)
const inCart = computed(() => store.getItemCountInCartById(props.item.id) )
</script>

<template>

  <div class="card" style="width: 18rem;">
    <img :src="imageSrc" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ props.item.title }}</h5>
      <p class="card-text">{{ props.item.description }}</p>
      <p class="btn btn-primary">{{ props.item.price }}</p>
      <input type="number" v-model.number="count" />
      <p class="card-text">Итого: {{sum}}</p>
      <p class="card-text">В корзине: {{inCart.count}}</p>

      <p class="btn btn-primary" @click="add2cart">В корзину</p>
    </div>
  </div>
</template>

<style scoped>

</style>