<template>
  <el-menu
      :default-active="activeIndex"
      class="el-menu-demo"
      mode="horizontal"
      :ellipsis="false"
      @select="handleSelect"
  >
    <el-menu-item index="0">
    </el-menu-item>
    <div class="flex-grow" />
    <el-menu-item index="1"><router-link to="/" class="nav-link">Каталог</router-link></el-menu-item>
    <el-menu-item index="2"><router-link to="/cart" class="nav-link">Корзина</router-link></el-menu-item>
<!--    <el-menu-item index="3"><router-link to="/newitem" class="nav-link">Добавить новый товар</router-link></el-menu-item>-->

<!--    <router-link to="/" class="nav-link">Каталог</router-link>-->
<!--    <router-link to="/cart" class="nav-link">Корзина</router-link>-->

  </el-menu>
</template>

<script setup>
import { ref } from 'vue'

const activeIndex = ref('1')
function handleSelect(key,keyPath) {
  // console.log(key, keyPath)
}
</script>

<style>
.flex-grow {
  flex-grow: 1;
}
</style>
