<script setup>
import {reactive, ref} from 'vue'
import {useStore} from '../store/index.js'

const store = useStore();
const emit = defineEmits()
const form = ref([])

function clear() {
  form.value = []
}

function saveItem() {
  if(form.value.title && form.value.price) {
    form.value.id = store.items.value.length + 1
    emit('save-item', form.value)
    form.value = []
  } else{
    alert('Заполните обязательные поля')
  }
}
</script>

<template>

  <el-form :model="form.value" label-width="auto" style="max-width: 600px">
    <el-form-item label="Название товара">
      <el-input v-model="form.title"/>
    </el-form-item>


    <el-form-item label="Описание">
      <el-input v-model="form.description" type="textarea"/>
    </el-form-item>

    <el-form-item label="Цена">
      <el-input v-model.number="form.price" type="number"/>
    </el-form-item>

    <el-form-item label="Категория">
      <el-input v-model="form.category"/>
    </el-form-item>


    <el-form-item>
      <el-button type="primary" @click="saveItem">Сохранить товар</el-button>
      <el-button @click="clear()">Очистить</el-button>
    </el-form-item>
  </el-form>

</template>

<style scoped>

</style>