<script setup>

import ItemsList from "@/components/ItemsList.vue";
import Navigation from "@/components/Navigation.vue";
import { RouterLink, RouterView } from 'vue-router'
import {useStore} from './store/index.js'

const store = useStore()
store.loadCatalog()

</script>

<template>
  <Navigation></Navigation>
    <Suspense>
      <RouterView/>
      <template #fallback>
        Загрузка ...
      </template>
    </Suspense>

</template>

<style scoped>

</style>
